<!doctype html>
<html ng-app="hungryUIApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
    <script src="./js/venues-resource.js"></script>
</head>
<body>
<h1>Hungry? UI</h1>

<h2>Venue Lists</h2>

<div ng-controller="VenueListController as ctrl">
    <span>Venue Lists: {{ctrl.venueLists.length}}</span>
    <ul>
        <li ng-repeat="venueList in ctrl.venueLists">
            <span>{{venueList.name}}</span>
        </li>
    </ul>

    <h>New Venue List</h>
    <form ng-submit="ctrl.addNewVenueList()">
        <input type="text" ng-model="ctrl.newVenueList.name" size="30" placeholder="add new venue list name here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>
</body>
</html>